*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font:16px Helvetica, Arial, sans-serif;
    background:#f1f1f1;
    color:#444468
}